{% extends 'base.html.twig' %}

{% block title %}Liste des comptes-rendus{% endblock %}

{% block content %}

<div class="bg-gray-300 m-10 border-2 border-gray-500">

  
    <!-- 2 -->
    <div class="col-span-6 m-5">

        <div class="bg-white border-2 border-gray-400">
            
            <div class="m-3">
                <table class="table-auto w-full">

                    <tr class="">
                        <td class="border border-black p-1 " ><p class="flex justify-center">Praticien</p></td>
                        <td class="border border-black p-1 " ><p class="flex justify-center">Ville</p></td>
                        <td class="border border-black p-1 " ><p class="flex justify-center">Date Visite</p></td>
                        <td class="border border-black p-1 " ><p class="flex justify-center">Date Rédaction</p></td>
                        <td class="border border-black p-1 " ><p class="flex justify-center">Lu</p></td>
                        <td class="border border-black p-1 " ><p class="flex justify-center">Consulter</p></td>
                    </tr>

                    
                    <tr class="">
                        {# foreach #}
                        {% for rapportvisite in rapportvisites %}                     
                        
                        <td class="border border-black p-1 " ><p class="flex justify-center"><li>{{ rapportvisite.visiteur.praticien.nom }}</li></p></td>
                        <td class="border border-black p-1 " ><p class="flex justify-center"><li>{{ rapportvisite.visiteur.praticien.ville }}</li></p></td>
                        <td class="border border-black p-1 " ><p class="flex justify-center"><li>{{ rapportvisite.datevisite }}</li></p></td>
                        <td class="border border-black p-1 " ><p class="flex justify-center"><li>{{ rapportvisite.daterapport }}</li></p></td>
                        <td class="border border-black p-1 " ><p class="flex justify-center"><li>{{ rapportvisite.etat }}</li></p></td>
                        <td class="border border-black p-1"  ><a class="transition duration-500 bg-indigo-500 text-white flex justify-center rounded-md hover:bg-indigo-600 m-1 p-1" href="/compterendu/show/{{rapportvisite.id}}">Consulter</a></td>
                    </tr>
                        {% endfor %}
                </table>
            </div>
        </div>

    </div>
  </div>

</div>
{% endblock %}
